body {
  background-color: #201A1A;
  color: #EBDFDF;
  font-family: Monospace;
  padding: 0%;
  margin: 0%;
}
a {
  color: #EBDFDF;
}
nav {
  margin-bottom: 5%;
}
footer {
  background-color: #252525;
  padding: 4%;
  margin-top: 20%;
}
footer p {
  margin: 0px;
}
p {
  font-size: 4vw;
}
h3 {
  font-size: 4vw;
  margin: 4%;
}
h2 {
  font-size: 5vw;
  margin: 4%;
}
h1 {
  font-size: 6.5vw;
  margin: 4%;
}
.logo {
  display: block;
  margin: 2% auto 0px auto;
  width: 13vw;
}
#logo2 {
  border-radius: 100%
}
#repoHead {
  margin-bottom: 0px;
}
#authorRepo {
  margin: 0px 0px 0px 5px;
  padding: 0px;
  font-size: 3vw;
}
#nameRepo {
  margin-top: 10px;
}
#profile-icon {
  margin-left: 4%;
  margin-top: 3%;
  margin-bottom: 0px;
  border-radius: 100%;
}
#headname {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 4%;
}
#header {
  margin-bottom: 0px;
  font-size: 2em;
}
#feedtext {
  margin: 0px;
  margin-left: 1%;
  text-indent: 5%;
}
/*For empty*/
.nothing-element {
  text-align: center;
  margin: 50px 0px 50% 0px;
}
.repoFeed {
  margin: 3% 4% 0% 4%;
  padding: 3%;
  background-color: #201A1A;
  border: 1px solid #7c7c7c;
  border-radius: 10px;
}
.author {
  margin: 0px;
  padding: 0px;
  align-items: center;
  display: flex;
}
.margin-left {
  margin-left: 4%;
}
.noMargin {
  margin: 0px;
}
.bio {
  color: #EBDFDF;
  padding: 5%;
  margin: 5%;
  background-color: #48454E;
  border-radius: 3vw;
}
.error-404 {
  margin: 10vw 0px 0px 0px;
  width: 80vw;
}