body {
  background-color: #201A1A;
  color: #EBDFDF;
  font-family: Monospace;
  padding: 5vw 2vw 2vw 4vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}
header {
  grid-column: 1;
}
.location {
  background-color: #534344;
  padding: 2vw;
  border-radius: 2.5vw;
  text-align: center;
}
.icon {
  display: block;
  margin: auto auto 3vw auto;
  width: 15vw;
}
.myLinks {
  margin-top: 3vw;
  background-color: #534344;
  padding: 2vw;
  border-radius: 2.5vw;
  text-align: center;
}
.myLinks h2 {
  text-align: center;
  margin: 0px;
  font-size: 4vw;
}
p, a {
  margin: 0px;
  font-size: 2.5vw;
  color: #EBDFDF;
}

footer {
  grid-column: 2;
  margin: auto;
}
footer p {
  color: #534344;
  margin: 0px;
  text-align: center;
}