body {
  background-color: #FCFCFC;
  color: #221A18;
}

details {
  background-color: #F5DED8;
  padding: 3vw;
  border-radius: 2vw;
  border: 0.4vw solid #766865;
  margin: auto auto 2vw auto;
}
summary {
  font-size: 4vw;
}
p, li, a, q{
  font-size: 4vw;
}
h2 {
  font-size: 5vw;
}
h1 {
  font-size: 6vw;
}
header {
  padding: 0px;
  margin: 0px;
  display: flex;
  align-items: center;
}
.item2 {
  width: 10vw;
  margin-left: -3vw;
}
.item1 {
  margin-left: auto;
  width: 9.7vw;
  border-radius: 100px;
  border: 0.3vw solid #252525;
}
/*Group 1*/
.body {
  color: #F1FEE7;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
.header {
  background-color: #A9ABAA;
  grid-column-start: 1;
  grid-column-end: three;
}
.nav {
  background-color: #FF007E;
  grid-column-start: 1;
  grid-column-end: three;
}
.aside {
  background-color: #4C8E82;
  grid-column: 1;
}
.section {
  background-color: #86B05A;
  grid-column-start: 2;
  grid-column-end: three;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 0px 10px 10px 10px;
  grid-row-gap: 10px;
}
.article1 {
  background-color: #015CAD;
  grid-row: 2;
}
.article2 {
  background-color: #015CAD;
  grid-row: 3;
}
.footer {
  background-color: #EA4F1E;
  grid-column-start: 1;
  grid-column-end: three;
}
.note {
  background-color: #f98484cb;
  border: 0.2vw solid red;
  border-radius: 3vw;
  padding-block: 2.5vw;
  text-align: center;
}

.quotes {
  margin: auto auto 5vw auto;
  padding: 5vw 4vw 2vw 4vw;
  border: 1px solid black;
  transition: 0.3s;
}
.quotes:hover {
  box-shadow: 1vw 2vw black;
}